name: CI

on:
  push:
    branches:
      - main

jobs:
  error-check:
    name: Check errors
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: coursier/cache-action@v6
      - uses: coursier/setup-action@v1.2.1
        with:
          jvm: temurin:1.17
          apps: "scala-cli"

      - name: Generate proposal listing
        run: scala-cli run bin/

      - uses: stefanzweifel/git-auto-commit-action@v4.15.3
        with:
          file_pattern: proposals/README.md
          commit_message: "auto update proposal listing"
          commit_author: Github Actions <actions@github.com>
